
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Dosis:wght@500&display=swap');

body{
  font-family: 'Dosis', sans-serif;
  background-color: #FCFCFC;
}

.animate-pulse-once {
  animation: pulse 2s cubic-bezier(0, 0, 0.3, 1);
}

::-webkit-scrollbar {width: 5px;}
::-webkit-scrollbar-thumb {background: #888;}
::-webkit-scrollbar-thumb:hover {background: #555;}


.bottleImg{
  height: 200px;
  width: auto;
  position: relative;
  left: -44px;
  top: 30px;
}

/*.likeIcon:hover ,*/ .rank:hover ~ .likeIcon{
  background: rgba(0,0,0,0.1);
  border-radius: 50%;
}
